<h1>
    <span class="far fa-list-alt"></span>Pure Numbers
</h1>

<div class="grid">
  <tbody>
    {{#if viewData.pureNumbers.length}}
    {{#each viewData.pureNumbers}}
      <div class="snippetbox">
        {{#if this.checkuser}}
        <div id="mysnippetheader">
          <button class="btn btn-outline-danger">remove</button>
          <button class="btn btn-outline-success">edit</button>
        </div>
        {{else}}
        {{/if}}
        <div id="mysnippetheader">{{this.user}}</div>
        {{this.createdAt}}
        <p class="snippetwords">{{this.value}}</p>
      </div>
    {{/each}}
    {{else}}
  {{/if}}
  </tbody>
  </div>

