<h1>
  <span class="fas fa-th"></span> Snippets
</h1>
<div class="grid">
  <tbody>
    {{#if viewData.pureNumbers.length}}
    {{#each viewData.pureNumbers}}






    {{#if this.editSnippet}}
        <div class="snippetbox">
        <div id="mysnippetheader">
                  <p class="username">{{this.user}}</p>
                  <div class="right">
          <form action="/savesnippet" method="post">
            <button name="value" type="submit" text="{{this.value}}" value="{{this.id}}" class="btn btn-outline-info">save</button>
          
        </div>
        </div>
        <p class="time">Edit your snippet and save</p>

        <textarea id="edittext" name="text" text="{{this.value}}">{{this.value}}</textarea>


        </form>
 
        </div>

    













    {{else}}
    
    





    <div class="snippetbox">
      <div id="mysnippetheader">
        <p class="username">{{this.user}}</p>

        {{#if this.checkuser}}
        <div class="right">
          <form action="/edit">
            <button name ="value" type="submit" value="{{this.id}}" class="btn btn-outline-info">edit</button>
          </form>
        </div>
        <div class="left">
          <form action="/remove">
            <button name="value" value="{{this.id}}" type="submit" class="btn btn-outline-danger">remove</button>
          </form>
        </div>
        {{/if}}

      </div>
      <p class="time">{{this.createdAt}}</p>
      <p class="snippetwords">{{this.value}}</p>
    </div>
    {{/if}}
    {{/each}}
    {{else}}
    {{/if}}

  </tbody>
</div>