<h1>
  <span class="fas fa-th"></span> Snippets
</h1>

<div class="grid">
  <tbody>
    {{#if viewData.pureNumbers.length}}
    {{#each viewData.pureNumbers}}
    <div class="snippetbox">
      <div id="mysnippetheader">
        <p class="username">{{this.user}}</p>

        {{#if this.checkuser}}
        <div class="right">
          <form action="/edit">
            <button type="submit" action="/remove" class="btn btn-outline-success">edit</button>
          </form>
        </div>
        <div class="left">
          <form action="/remove">
            <button name="value" value="{{this.id}}" type="submit" class="btn btn-outline-danger">remove</button>
          </form>
        </div>
        {{/if}}
      </div>
      <p class="time">{{this.createdAt}}</p>
      <p class="snippetwords">{{this.value}}</p>
    </div>
    {{/each}}
    {{else}}
    {{/if}}
  </tbody>
</div>